* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F5F5F5;
    color: #3F3F3F;
    font-family: 'Crimson Text', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    position: relative;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    background: #fff;
}

.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    color: #B97A56;
    text-decoration: none;
    border: 1px solid #B97A56;
    padding:8px 12px;
    border-radius: 4px;
    margin-top: 10px;
    z-index: 100;
}

/*NAV BAR*/
nav {
    position: fixed;
    width: 768px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    z-index:100;
}

.logo {
    display: inline-block;
}

.nav-title {
    display: inline-block;
    font-family: "Freestyle Script", sans-serif;
    font-size: 24px;
}

.menu {
    display: inline-block;
}

.logo,
.nav-title,
.menu {
    padding: 10px;
}


/*HERO IMAGE*/
.hero {
    background: transparent linear-gradient(145deg, #F5F5F5 0%, #4F92897D 100%) 0% 0% no-repeat padding-box;
    height: 900px;
    width: 768px;
    position: relative;
}

.hero-title {
    position:absolute;
    top:50%;
    left:40%;
    transform: translate(-50%, -50%);
}

.hero-title h1 {
    font: 700 85px/85px Crimson Text;
    letter-spacing: 2.13px;
}

.hero-title p {
    font-size: 30.5px;
    letter-spacing: 0.76px;
}
.hero-title a {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    color: #B97A56;
    text-decoration: none;
    border: 1px solid #B97A56;
    padding:18px 15px 12px 18px;
    margin-top: 15px;
    border-radius: 4px;
}

.hero .plant1 {
    position: absolute;
    right: 0;
}

.hero .plant2 {
    position: absolute;
    bottom: 0;
}

.hero .dog {
    position: absolute;
    /* top: 369px; */
    /* left: 355px; */
    bottom:0;
    right:0;
    width: 414px;
}



/*MAIN CONTENT*/

.borders {
    display: inline-block;
    position: absolute;
    padding:0;
    top: -22px;
    left: 60px;
    
}


.content:first-child {
    position: relative;
    width: 600px;
    height: 404px;
    margin: 0 auto;
    background: #F5F5F5;
    margin-top: 145px;
}

.content h2:first-child {
    padding-top: 45px;
}
.content{
    position: relative;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background: #F5F5F5;
    margin-top: 100px;
    z-index:2;
}

.content-title {
    /* padding-top: 21px; */
    font-size: 54px;
    text-align: center;
}

.content h2 {
    font-size: 55px;
    line-height: 1;
}

.content p {
    font-size: 16px;
    width: 273px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.content .btn {
    margin-bottom: 25px;
    margin-left: 15px;
}

/*CONTENT SALE*/

.sale {
    position: relative;
}
.sale .puppies{
    position: absolute;
    bottom:0;
    left:0;
    display: block;
}

/*CONTENT ABOUT*/

.about {
    position: relative;
    padding: 5px;
    height: 100%;
}

.about .content-title {
    text-align: left;
    padding-left:20px;
    padding-top: 20px;
}

.about .bg-box {
    position: absolute;
    height: 100%;
    top: 0;
    right:0;
}

.bg-box img {
    height: 100%;
}

/*FOOTER*/
footer .row {
    width: 100%;
    margin-top: 75px;
    background: #3F3F3F;
    color: #F5F5F5;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer h3  {
    font-size: 30px;
}
footer h3,
footer ul li {
    margin: 20px 0;
}

footer p {
    display: inline-block;
    padding-left: 10px;
}

.footer-contact {
    text-align: left;
}

.footer-links {
    text-align: center;
}

.footer-links ul li a {
    text-decoration: none;
    color: #F5F5F5;
    opacity: .5;
    font-size: 20px;
    transition: all .3s;
}

.footer-links ul li a:hover {
    color:#4F9289;
    opacity:1;
}

